@import url(./styles.css);

.modal-body .comment-parent{
    margin-bottom: 10px;
    background-color: rgba(206, 206, 206, 0.5);
    padding: 5px;
    border-radius: 10px;
}
.modal-body .comment-parent .comment-parent-header{
    display: flex;
}
.modal-body .comment-parent .comment-parent-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.modal-body .comment-info h3{
    font-size: 16px;
    font-weight: 700;
}
.modal-body .comment-info span{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.5px;
    color: var(--black8);
}
.modal-body .comment-parent .comment-content{
    margin: 8px 0 8px 66px;
}
.modal-body .comment-content p{
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
}
.modal-body .comment-child,
.modal-body .comment-parent .comment-footer{
    margin-left: 66px;
}
.modal-body .comment-footer button{
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--black7);
    margin-right: 8px;
    cursor: pointer;
}
.modal-body .comment-footer button:hover{
    text-decoration: underline;
}
.modal-body .comment-child .comment-child-header{
    display: flex;
    margin-top: 20px;
}
.modal-body .comment-child .comment-child-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
.modal-body .comment-child .comment-content{
    margin: 8px 0 8px 48px;
}
.modal-body .comment-child .comment-footer {
    margin-left: 48px;
}

.modal-footer{
    position: relative;
    bottom: 0;
    margin-bottom: 10px;
    justify-content: flex-start !important;
}
.avatar-comment{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.modal-footer .modal-footer-input{
    display: flex;
    align-items: center;
    position: relative;
}
.modal-footer .input{
    border: none;
    outline: none;
    background: var(--white4);
    width: 680px;
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
}
.modal-footer-input .send-btn{
    position: absolute;
    right: 0;
    border: none;
    margin-right: 8px;
    cursor: pointer;
    background: none;
}

.subcomment-input{
    position: relative;
    margin-bottom: 10px;
    margin-left: 100px;
}
.subcomment-input input{
    padding: 10px;
    border-radius: 8px;
    width: 590px;
    border: none;
    outline: none;
    background: var(--white4);
}
.subcomment-input .send-btn{
    position: absolute;
    right: 0;
    top: 14%;
    margin-right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 4px;
}

.comment-child{
    background-color: rgba(206, 206, 206, 0.5);
    margin-bottom: 10px;
    border-radius: 12px;
}
.subcomments{
    display: flex;
    flex-direction: column;
}