@import url(../../assets/css/styles.css);

.navbarMessager{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mint1);
}

.navbarMessagerWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarMessagerLeft{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.navbarMessagerInput{
    width: 400px;
    height: 35px;
    margin-left: 20px;
    position: relative;
}

.logoImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.navbarMessagerInput input{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 20px;
    padding: 0px 16px;
}

.navbarMessagerInput img{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0.5;
}


.navbarMessagerRight{
    height: 100%;
    display: flex;
    align-items: center;
}

.navbarMessagerRightIcon{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbarMessagerRightIcon .Options{
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--grey5);
    display: flex;
    align-items: center;
    justify-content: center;
    /* filter: brightness(0) invert(1); */
}

.avatarUser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}




