@import url(../../assets/css/styles.css);

.chat-notification {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: var(--white4);
    color: var(--black1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
  }
  
  .chat-notification.open {
    display: flex;
    z-index: 1000;
  }
  
  .chat-header {
    padding: 10px;
    background-color: var(--blue2);
    color: var(--white1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .chatHeaderWrapper {
    display: flex;
    align-items: center;
    gap: 10px;

  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 6px;
    border: 2px solid var(--grey1);
  }

  .chat-body {
    padding: 10px 3px 10px 10px;
    overflow: hidden;
    height: 292px;
    /* display: flex;
    flex-direction: column; */
  }

  .chatBodyWapper {
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .chatBodyWapper .infinite-scroll-component {
    display: flex;
    flex-direction: column-reverse !important;
    overflow-x: hidden !important;
  }

  .chatBodyWapper::-webkit-scrollbar {
    width: 5px;
  }

  .chatBodyWapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .chatBodyWapper::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }

  .chat-message {
    margin-bottom: 10px;
  }
  
  .message-content {
    background-color: #555;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .chat-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-footer input {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  .chat-footer button {
    background-color: var(--mint2);
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
  }
  
  .close-modal {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
   
  .close-modal img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
  }
  