@import url(../../assets/css/styles.css);

.modal-detail-post .modal-content{
    border-radius: 10px;
    height: 685px;
}

.modal-detail-post{
    .modal-title.h4 {
        font-size: 20px;
        font-weight: 600;
    }
}

.post-detail-section {
    padding: 15px;
}

.post-author {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.author-info h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.author-info span{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.5px;
    color: var(--black8);
}

.time-privacy{
    margin-left: 5px;
}

.post-title {
    margin: 15px 0;
    font-size: 18px;
}

.post-content {
    margin-bottom: 15px;
}

.comments-title{
    font-size: 16px;
    font-weight: 700;
}

.divider {
    margin-bottom: 15px;
    border-top: 1px solid #737373;
}

.comments-section {
    margin-top: 20px;
}

.post-images{
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-wrap: nowrap;
    gap: 5px;
    overflow-x: auto;
    position: relative;
}

.post-images .image-detail-container{
    position: relative;
    width: 100%;
}

.post-images .image-detail-container.one-image img{
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 14px;
}
.post-images .image-detail-container.two-image{
    display: flex;
    gap: 10px;
}
.post-images .image-detail-container.two-image img{
    width: 50%;
    height: 300px;
    object-fit: cover;
    border-radius: 14px;
}
.post-images .image-detail-container.three-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.post-images .image-detail-container.three-image img:first-child{
    grid-column: 1 / -1;
    height: 300px;
}
.post-images .image-detail-container.three-image img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 14px;
}
.small-detail-image{   
    border-radius: 14px;
    width: 200px !important;
    height: 300px;
    object-fit: cover;
}
.large-detail-image {
    width: 280px !important; 
    height: 300px; 
    object-fit: cover;
    border-radius: 14px;
    position: relative;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

.modal-body .comment-parent{
    margin-bottom: 10px;
    background-color: rgba(206, 206, 206, 0.5);
    padding: 5px;
    border-radius: 10px;
}
.modal-body .comment-parent .comment-parent-header{
    display: flex;
}
.modal-body .comment-parent .comment-parent-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.modal-body .comment-info h3{
    font-size: 16px;
    font-weight: 700;
}
.modal-body .comment-info span{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.5px;
    color: var(--black8);
}
.modal-body .comment-parent .comment-content{
    margin: 8px 0 8px 66px;
}
.modal-body .comment-content p{
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
}
.modal-body .comment-child,
.modal-body .comment-parent .comment-footer{
    margin-left: 66px;
}
.modal-body .comment-footer button{
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--black7);
    margin-right: 8px;
    cursor: pointer;
}
.modal-body .comment-footer button:hover{
    text-decoration: underline;
}
.modal-body .comment-child .comment-child-header{
    display: flex;
}
.modal-body .comment-child .comment-child-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
}
.modal-body .comment-child .comment-content{
    margin: 8px 0 8px 48px;
}
.modal-body .comment-child .comment-footer {
    margin-left: 48px;
}

.modal-footer{
    position: relative;
    bottom: 0;
    margin-bottom: 10px;
    justify-content: flex-start !important;
}
.avatar-comment{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}
.modal-footer .modal-footer-input{
    display: flex;
    align-items: center;
    position: relative;
}
.modal-footer .input{
    border: none;
    outline: none;
    background: var(--white4);
    width: 680px;
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
}
.modal-footer-input .send-btn{
    position: absolute;
    right: 0;
    border: none;
    margin-right: 8px;
    cursor: pointer;
    background: none;
}

.subcomment-input{
    position: relative;
    margin-bottom: 10px;
    margin-left: 100px;
}
.subcomment-input input{
    padding: 10px;
    border-radius: 8px;
    width: 590px;
    border: none;
    outline: none;
    background: var(--white4);
}
.subcomment-input .send-btn{
    position: absolute;
    right: 0;
    top: 14%;
    margin-right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 4px;
}

.comment-child{
    background-color: rgba(206, 206, 206, 0.5);
    margin-bottom: 10px;
    border-radius: 12px;
}
.subcomments{
    display: flex;
    flex-direction: column;
}

/* phần mới---------------------------- */
